<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyusun.origin.admin.upms.repository.dal.mapper.SysAuthMapper">

    <!-- 获取角色集合 部门、分组、岗位-->
    <select id="findRoleByUserId" resultType="java.lang.String">
        SELECT tsr.ocode
        from t001_sys_role tsr

        left join t001_rel_role_debt trrd on tsr.sid = trrd.role_id
        left join t001_sys_debt tsd on trrd.debt_id = tsd.sid
        left join t001_rel_user_debt trud on tsd.sid = trud.debt_id

        left join t001_rel_role_group trrg on tsr.sid = trrg.role_id
        left join t001_sys_ugroup tsug on trrg.group_id = tsug.sid
        left join t001_rel_user_group trug on tsd.sid = trug.group_id

        left join t001_rel_role_post trrp on tsr.sid = trrp.role_id
        left join t001_sys_post tsp on trrp.post_id = tsp.sid and tsp.enabled = 1
        left join t001_rel_user_post trup on tsp.sid = trup.post_id

        left join t001_sys_user tsu on (tsu.sid = trud.uid or tsu.sid = trug.uid or tsu.sid = trup.uid)

        <where>
            tsr.enabled = 1
            and tsu.sid = #{userId}

        </where>
    </select>

    <!-- 资源权限集合 -->
    <select id="findRsrcPermissionByRoles" resultType="java.lang.String">
        select tsrsrc.permission
        from t001_sys_resources tsrsrc
        left join t001_rel_rgroup_rsrc trrgr on trrgr.rsrc_id = tsrsrc.sid
        left join t001_sys_rgroup tsrg on trrgr.rsrc_id = tsrsrc.sid
        left join t001_rel_role_rgroup trrr on trrr.rgroup_id = tsrg.sid
        left join t001_sys_role tsr on tsr.sid = trrr.role_id

        <where>
            tsr.enabled = 1
            and tsr.enname in
            <foreach collection="roles" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>